USE [master]
GO
/****** Object:  Database [DB_Buddy]    Script Date: 12/23/2021 9:54:25 PM ******/
CREATE DATABASE [DB_Buddy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Buddy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_Buddy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Buddy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_Buddy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Buddy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Buddy]
GO
/****** Object:  Table [dbo].[MST_POSITION]    Script Date: 12/23/2021 9:54:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_POSITION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Position] [varchar](100) NULL,
 CONSTRAINT [PK_MST_POSITION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_USERS]    Script Date: 12/23/2021 9:54:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_USERS](
	[Admin_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NULL,
	[Email] [varchar](100) NULL,
	[Profile_Photo] [varchar](225) NULL,
	[Gender] [varchar](10) NULL,
	[Age] [varchar](5) NULL,
	[Address] [varchar](225) NULL,
	[Position] [varchar](100) NULL,
 CONSTRAINT [PK_MST_USERS] PRIMARY KEY CLUSTERED 
(
	[Admin_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
